body {
    flex: 1;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    flex-direction: column;
}
/* HEADER */
.header {
    height: 400px;
    background-color: #1F2937;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.container1 {
    display: flex;
    align-items: center;
    padding: 50px 200px;
    justify-content:space-between;
    gap: 30px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 10px;
}

a, .s {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;

}

.s {
    margin-top: 0;
}

.welcome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9f8fa;
    margin: 0;
}

.text1 {
    max-width:fit-content;
}

.header button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 15px;
    width: 100px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    border-color:none;
}

.image1 img, .info img {
    border-radius: 10px;
}

/* INFO */
.info {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
}
.container2 {
    display: flex;
    padding: 0 350px;
    align-items: center;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
}

.box p {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
}

.scapes {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

/* QUOTE */
.container3 {
    display: flex;
    flex-direction: column;
    height : 300px;
    background-color: #e5e7eb;
    padding: 0 200px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

.signoff {
    display: flex;
    justify-content: end;
}

/* CALL */
.container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color:white;
    padding: 0 200px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    width: 600px;
    padding: 20px 100px;
    color:#E5E7EB;
}

.calltoaction {
    font-size: 18px;
    font-weight: 700;
    margin-bottom:0;
}

.sign {
    margin-top: 0;
}

.content button {
    width: 120px;
    height: 30px;
    border-radius: 7px;
    border-color: #E5E7EB;
    background-color:#3882f6;
    color:#E5E7EB;
    font-weight: bolder;
}

/* FOOTER */

.container5 {
    background-color: #1F2937;
    color:#E5E7EB;
    text-align: center;
}

